<footer class="footer">
  <div class="container">
    <div class="footer-left">
      <h2>根箱神社</h2>
      <p>
        〒111-2222  東京都渋谷区神南1-2-3<br>
        電話　03-0000-0000<br>
        受付時間　9:00〜17:00
      </p>
      <nav class="sns-nav">
        <ul>
          <li>
            <%= link_to "#" do %>
              <span class="fab fa-twitter" title="Twitter"></span>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <span class="fab fa-facebook" title="Facebook"></span>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <span class="fab fa-instagram" title="Instagram"></span>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <span class="fab fa-google-plus" title="Google"></span>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <span class="fab fa-youtube" title="Youtube"></span>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
    <nav class="footer-right">
      <div>
        <h3>ABOUT</h3>
        <ul>
          <li><%= link_to "根箱神社について", "#" %></li>
          <li><%= link_to "八頭竜神社他", "#"%></li>
          <li><%= link_to "境内マップ", "#"%></li>
          <li><%= link_to "アクセス", "#"%></li>
        </ul>
      </div>
      <div>
        <h3>SUPPORT</h3>
        <ul>
          <li><%= link_to "ご参拝と御祈祷", "#"%></li>
          <li><%= link_to "結婚式のご案内", "#"%></li>
          <li><%= link_to "武道場のご案内", "#"%></li>
          <li><%= link_to "お問い合わせ", contact_top_index_path %></li>
          <li><%= link_to "Ｑ＆Ａ", "#"%></li>
        </ul>
      </div>
      <div>
        <h3>CONTENTS</h3>
        <ul>
          <li><%= link_to "お知らせ", articles_top_index_path %></li>
          <li><%= link_to "年中行事", "#"%></li>
          <li><%= link_to "授与品のご紹介", "#"%></li>
          <li><%= link_to "宝物殿のご紹介", "#"%></li>
          <li><%= link_to "リンク", "#"%></li>
        </ul>
      </div>
    </nav>
    <div class="copyright">
      Copyright ©︎ 2020 nehakojinja. All rights reserved.
    </div>
  </div>
</footer>