<footer class="footer">
  <div class="container">
    <div class="footer-left">
      <h2>箱根神社</h2>
      <p>
        〒250-0522  神奈川県足柄下郡箱根町元箱根80-1<br>
        電話　0460-83-712<br>
        受付時間　9:00〜17:00
      </p>
      <nav class="sns-nav">
        <ul>
          <li>
            <%= link_to "#" do %>
              <span class="fab fa-twitter" title="Twitter"></span>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <span class="fab fa-facebook" title="Facebook"></span>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <span class="fab fa-instagram" title="Instagram"></span>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <span class="fab fa-google-plus" title="Google"></span>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <span class="fab fa-youtube" title="Youtube"></span>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
    <nav class="footer-right">
      <div>
        <h3>ABOUT</h3>
        <ul>
          <li><%= link_to "箱根神社について", "#" %></li>
          <li><%= link_to "九頭竜神社他", "#"%></li>
          <li><%= link_to "境内マップ", "#"%></li>
          <li><%= link_to "アクセス", "#"%></li>
        </ul>
      </div>
      <div>
        <h3>SUPPORT</h3>
        <ul>
          <li><%= link_to "ご参拝と御祈祷", "#"%></li>
          <li><%= link_to "結婚式のご案内", "#"%></li>
          <li><%= link_to "武道場のご案内", "#"%></li>
          <li><%= link_to "お問い合わせ", "#"%></li>
          <li><%= link_to "Ｑ＆Ａ", "#"%></li>
        </ul>
      </div>
      <div>
        <h3>CONTENTS</h3>
        <ul>
          <li><%= link_to "お知らせ", "#"%></li>
          <li><%= link_to "年中行事", "#"%></li>
          <li><%= link_to "授与品のご紹介", "#"%></li>
          <li><%= link_to "宝物殿のご紹介", "#"%></li>
          <li><%= link_to "リンク", "#"%></li>
        </ul>
      </div>
    </nav>
    <div class="copyright">
      Copyright ©︎ 2007 hakonejinja.kuzuryujinja. All rights reserved.
    </div>
  </div>
</footer>