<header class="header">
  <div class="container">
    <%= link_to root_path, class: "top" do %>
      <%= image_tag "kamon.jpg", size: '50x50' %>
      <p class="logo">根箱神社</p>
    <% end %>
    <div class="toggleButton" href="#">
      <span></span>
      <span></span>
      <span></span>
    </div>  
  </div>
  <nav class="globalNav">
    <ul>
      <li><%= link_to "根箱神社について", "#" %></li>
      <li><%= link_to "八頭竜神社他", "#" %></li>
      <li><%= link_to "お知らせ", articles_top_index_path %></li>
      <li><%= link_to "年中行事", "#" %></li>
      <li><%= link_to "ご参拝とご祈祷", "#" %></li>
      <li><%= link_to "境内マップ", "#" %></li>
      <li><%= link_to "アクセス", "#" %></li>
      <li><%= link_to "お問い合わせ", contact_top_index_path %></li>
    </ul>
  </nav>
</header>