<header class="header">
  <div class="container">
    <%= link_to root_path, class: "top" do %>
      <%= image_tag "kamon.jpg", size: '50x50' %>
      <p class="logo">根箱神社</p>
    <% end %>
    <button type="button" class="toggleButton">
      <span class="fa fa-bars" title="MENU"></span>
    </button>
  </div>
  <nav class="globalNav">
    <ul>
      <li><%= link_to "根箱神社について", "#" %></li>
      <li><%= link_to "八頭竜神社他", "#" %></li>
      <li><%= link_to "お知らせ", "#" %></li>
      <li><%= link_to "年中行事", "#" %></li>
      <li><%= link_to "ご参拝とご祈祷", "#" %></li>
      <li><%= link_to "境内マップ", "#" %></li>
      <li><%= link_to "アクセス", "#" %></li>
      <li><%= link_to "お問い合わせ", "#" %></li>
    </ul>
  </nav>
</header>