<header class="header">
  <div class="container">
    <%= link_to "箱根神社", root_path, class: "logo"%>
    <button type="button" class="toggleButton">
      <span class="fa fa-bars" title="MENU"></span>
    </button>
  </div>
  <nav class="globalNav">
    <ul>
      <li><%= link_to "箱根神社について", "#" %></li>
      <li><%= link_to "九頭竜神社他", "#" %></li>
      <li><%= link_to "お知らせ", "#" %></li>
      <li><%= link_to "年中行事", "#" %></li>
      <li><%= link_to "ご参拝とご祈祷", "#" %></li>
      <li><%= link_to "境内マップ", "#" %></li>
      <li><%= link_to "アクセス", "#" %></li>
      <li><%= link_to "お問い合わせ", "#" %></li>
    </ul>
  </nav>
</header>