<div class="single-header">
  <div class="bread">
    <ol>
      <li>
        <%= link_to "トップ", root_path %>
      </li>
      <li>
      <%= link_to "お知らせ一覧", "#" %>
      </li>
    </ol>
  </div>
  <h1>お知らせ一覧</h1>
</div>
<div class="articles">
  <article>
    <%= link_to "#" do %>
      <div class="photo", style="background-image:url(<%= asset_path "sample.jpg" %>)">
      </div>
      <div class="text">
        <p class="date">2020.03.01</p>
        <h2>タイトル</h2>
        <p>文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列</p>
      </div>
    <% end %>
  </article>
  <article>
    <%= link_to "#" do %>
      <div class="photo", style="background-image:url(<%= asset_path "sample.jpg" %>)">
      </div>
      <div class="text">
        <p class="date">2020.03.01</p>
        <h2>タイトル</h2>
        <p>文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列</p>
      </div>
    <% end %>
  </article>
  <article>
    <%= link_to "#" do %>
      <div class="photo", style="background-image:url(<%= asset_path "sample.jpg" %>)">
      </div>
      <div class="text">
        <p class="date">2020.03.01</p>
        <h2>タイトル</h2>
        <p>文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列</p>
      </div>
    <% end %>
  </article>
  <article>
    <%= link_to "#" do %>
      <div class="photo", style="background-image:url(<%= asset_path "sample.jpg" %>)">
      </div>
      <div class="text">
        <p class="date">2020.03.01</p>
        <h2>タイトル</h2>
        <p>文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列</p>
      </div>
    <% end %>
  </article>
  <article>
    <%= link_to "#" do %>
      <div class="photo", style="background-image:url(<%= asset_path "sample.jpg" %>)">
      </div>
      <div class="text">
        <p class="date">2020.03.01</p>
        <h2>タイトル</h2>
        <p>文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列</p>
      </div>
    <% end %>
  </article>
  <article>
    <%= link_to "#" do %>
      <div class="photo", style="background-image:url(<%= asset_path "sample.jpg" %>)">
      </div>
      <div class="text">
        <p class="date">2020.03.01</p>
        <h2>タイトル</h2>
        <p>文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列</p>
      </div>
    <% end %>
  </article>
  <article>
    <%= link_to "#" do %>
      <div class="photo", style="background-image:url(<%= asset_path "sample.jpg" %>)">
      </div>
      <div class="text">
        <p class="date">2020.03.01</p>
        <h2>タイトル</h2>
        <p>文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列</p>
      </div>
    <% end %>
  </article>
  <article>
    <%= link_to "#" do %>
      <div class="photo", style="background-image:url(<%= asset_path "sample.jpg" %>)">
      </div>
      <div class="text">
        <p class="date">2020.03.01</p>
        <h2>タイトル</h2>
        <p>文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列</p>
      </div>
    <% end %>
  </article>
  <article>
    <%= link_to "#" do %>
      <div class="photo", style="background-image:url(<%= asset_path "sample.jpg" %>)">
      </div>
      <div class="text">
        <p class="date">2020.03.01</p>
        <h2>タイトル</h2>
        <p>文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列</p>
      </div>
    <% end %>
  </article>
  <article>
    <%= link_to "#" do %>
      <div class="photo", style="background-image:url(<%= asset_path "sample.jpg" %>)">
      </div>
      <div class="text">
        <p class="date">2020.03.01</p>
        <h2>タイトル</h2>
        <p>文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列</p>
      </div>
    <% end %>
  </article>
  <article>
    <%= link_to "#" do %>
      <div class="photo", style="background-image:url(<%= asset_path "sample.jpg" %>)">
      </div>
      <div class="text">
        <p class="date">2020.03.01</p>
        <h2>タイトル</h2>
        <p>文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列</p>
      </div>
    <% end %>
  </article>
  <article>
    <%= link_to "#" do %>
      <div class="photo", style="background-image:url(<%= asset_path "sample.jpg" %>)">
      </div>
      <div class="text">
        <p class="date">2020.03.01</p>
        <h2>タイトル</h2>
        <p>文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列文字列</p>
      </div>
    <% end %>
  </article>
</div>